@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*Colors
Off-white: #f9ebf4
Pink: #d673b8
Burgundy:
Green:
*/

body {
    font-family: 'Lora';
}
nav {
    font-family: 'Lora';
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
} 
nav a {
    text-align: center;
}  
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    margin: 20px;
}
#hero-msg h4 {
    color: #d673b8;
}
#hero-img {
    width: 100%;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: #39943a;
    font-family: 'Lora';
    font-size: 22px;
    margin:0;
    padding: 0;
}
header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color: #5a1643;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #d673b8;
    color: #39943a;
}
.home-title {
    color: #f9ebf4;
    font-family: 'Lora';
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: #39943a;
}
.book, .join {
    background-color: #39943a;
    color: #CBB9A8;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #0B4F6C;
    color: #145C9E;
}
#background {
    background-color: #39943a;
}
#msg {
    background-color: #145C9E;
    line-height: 1.5em;
    padding: 35px;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
}
.msg h2 {
    color: #d673b8;
    font-family: 'Lora';
    margin: 0;
}
.msg p {
    color: #d673b8;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #5a1643;
    color: #f9ebf4;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #f9ebf4;
    text-decoration: none;
}
footer a:hover {
    color: #CBB9A8;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
.logo {
    width:80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#font-family {
    --heading-font: "Lora";
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}
#intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#an {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
}
.chocolat {
    grid-column: 1/2;
    grid-row: 1/3;
    width: 600px;
    margin: 20px;
}
#Every {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: left;
    margin: 20px;
}


#inspiration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#spir {
    text-align: right;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#Countless {
    text-align: right;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.macaroon {
    grid-column: 2/3;
    grid-row: 1/3;
    margin: 20px;
    width: 760px;
}

  


/*What We Do*/
#themes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
.Fall {
    grid-column: 1/2;
    margin: 20px;
}
.Grad {
    grid-column: 3/4;
    margin: 20px;
    width: 400px;
}
#Cater {
    grid-column: 2/3;
    margin: 20px;
}



/*Our Practices*/
.shakinghands, .partyfood, .bakery {
    width: 1220px;
    margin: 20px;
    align-content: center;
}
#humane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#Earth {
    text-align: center;
    color: #d673b8;
    font-size: 35px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#Employee {
    text-align: center;
    color: #d673b8;
    font-size: 35px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.bag {
    width: 580px;
    margin: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
}
#When {
    margin: 20px;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: justify;
    color: #f9ebf4;
}
.hugging {
    width: 580px;
    margin: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}
#All {
    margin: 20px;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: justify;
    color: #f9ebf4;
}



@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            