#content {
    max-width: 1600px;
    margin: 0 auto;

nav a {
    text-align: center;
}  
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}

<section class="rapids-card">
    <img class="card-img" src="images/rapids.jpg" alt="rafting boat">
    <img class="icon" src="images/oars.png" alt="oars icon">
    <h2>Rapids</h2>
</section>
<div id="background"></div>
<img class=mountains" src="images/mountains.jpg" alt="Misty mountains">
<section class="msg">
    <h2>More Than Just The Thrill</h2>
    <p>Enjoy the breathtaking scenery. From valleys, meadows, canyons, and high peaks; it's way more than just the rapids. It's a great way to get away from it all and relax amongst all the beauty of the great outdoors. </p>
    <a class='join' href="rivers.html">Join Us</a>
</section>
#background {
    height: 725px;
}

body {
    background-color: #0B4F6C;
}
header {
    background-color: #CBB9A8;
}
nav a {
    text-align: center;
    color: #145C9E;
    text-decoration: none;
}
nav a:hover {
    background-color: #0B4F6C;
    color: #145C9E;
}
.home-title {
    color: #145C9E;
}
h4 {
    color: #145C9E;
}
.book, .join {
    background-color: #0B4F6C;
    color: #CBB9A8;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #0B4F6C;
    color: #145C9E
}
#background {
    background-color: #0B4F6C;
}
#msg {
    background-color: #145C9E;
}
.msg h2 {
    color: #145C9E;
}
.msg p {
    color: #145C9E;
}
footer {
    background-color: #0B4F6C;
    color: #CBB9A8;
}
footer a {
    color: #CBB9A8;
    text-decoration: none;
}
footer a:hover {
    color: #CBB9A8;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    width:80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}
}