




.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  width: 200px;
  min-height: 100vh;       /* Vital: Makes container the full height of the viewport */
  background-color: #E8ECED;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-image: url('../images/christus.webp'); /* The ../ means it's going up one folder */
  padding: 2rem;
  border: #000000;
  border-radius: 8px;
  width: 1200px;
}





.first-presidency-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.quorum-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


#Dallin {
    color:#E8ECED;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2 {
    color: #E8ECED;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/*Images of the apostles */
.anderson, .bednar, .causse, .christofferson, .cook, .eyring, .gong, .holland, .kearon, .dallin, .rasband, .renlund, .soares, .stevenson, .uchtdorf {
  border-radius: 50%;   /*Makes the image circular */
  border: 10px solid #E8ECED;
  aspect-ratio: 1/1;    /*Makes the height to match the width */
  object-fit: cover; /*Crops the edges so it doesn't look squished */
  width: 200px;
}
