

@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Leckerli+One&display=swap');



h1 {
    font-family: 'Leckerli One';
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffcccc, #ff66b2);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #ff4d94;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    margin: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

img {
    width: 400px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

main {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #ff4d94;
    color: white;
    text-align: center;
    padding: 10px
}